html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: #FFCC66 url("joga 1.jpg") repeat scroll top center;
    background-size: 100% 100%;
    margin-bottom: 60px;
    background-repeat: no-repeat;
}

.container {
    color: whitesmoke;
    text-align: left;
    margin-left: 60px;
}