@page
@using Joga.model
@using Joga.services
@model Joga.Pages.HoldListeModel
@{
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Holdnummer</th>
            <th>Holdnavn</th>
            <th>Beskrivelse af hold</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <form method="post">
        @foreach (Hold h in Model.Hold)
        {
            <tr>
                <td>@h.holdNummer</td>
                <td>@h.holdNavn</td>
                <td>@h.holdBeskrivelse</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <input class="form-control" asp-for="@Model.MedlemsId" /><br />
                </td>
            </tr>
        }
        </form>
    </tbody>

</table>