@page
@using services
@using model
@model KedeligYogaModel
@{
}
<h1>@Model.kedeligYoga.holdNavn</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Medlems ID</th>
            <th>Medlems Navn</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <form method="post">
    <tbody>
            @foreach (Medlem m in Model.kedeligYoga.holdMedlemListe)
            {
            <tr>
                <td>@m.Id</td>
                <td>@m.Navn</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            }
    </tbody>
    </form>
</table>